html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}


#nowPlayingBarContainer {
	width: 100%;
	background-color: #282828;
	min-width: 620px;
	position: fixed;
	bottom: 0;
}

#nowPlayingBar {
	display: flex;
	box-sizing: border-box;
	height: 90px;
	padding: 16px;
	background-color: #282828;
}

#nowPlayingLeft,
#nowPlayingCenter,
#nowPlayingRight {
	width: 30%;
	min-width: 180px;
}

#nowPlayingCenter {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 700px;
	width: 40%;
}
